/www/shared/vendors/bower
/vendor
.idea/
temp/
node_modules/
/www/web/assets/vendors/bower
/www/web/assets/scripts/scripts.js
/www/web/assets/scripts/admin.js
.sass-cache/
.sass-cache/vendor
/log
/temp/sessions/*
/www/web/assets/styles/styles.css
/www/web/assets/styles/admin.css
/www/web/assets/images/sprite.png
/www/web/assets/images/sprite@2x.png
/www/web/assets/scripts/scripts.js
/temp/cache/
.sass-cache/vendor
/temp/sessions/*
/data/blog/file/*
/data/blog/image/*
/data/editor/image/*
/data/product/image/*
!/data/blog/file/.htaccess
!/data/blog/image/.htaccess
!/data/product/image/.htaccess
/data/editor/image/*
!/data/blog/file/.htaccess
!/data/blog/image/.htaccess
!/data/editor/image/.htaccess
