{block content}
    <div id="content">
        <div class="container">
            <div class="contentIn contact errorPage">
                <h2>Stránka nenalezena</h2>

                <p>
                    Omlouváme se, ale stránka nebyla nalezena. Přejděte prosím na úvodní stránku: ?
                </p>

                <a href="{plink Page:default}" class="basicBtn"><span>Úvodní stránka</span></a>
            </div>
        </div>
    </div>
{/block}
