<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="header__main">
			<table>
				<tr>
					<td width="120">
						<img src="/assets/images/pdf/logo.png" width="100" />
					</td>
					<td width="250">
						<h5 class="header__title">Zdeněk Vítek</h5>
						<span class="header__subtitle">web developer</span>
					</td>
					<td>
						<table>
							<tr>
								<td height="80"></td>
							</tr>
							<tr>
								<td width="90" class="text--top">
									<img src="/assets/images/pdf/arrow.png" width="70" />
								</td>
								<td>
									<table>
										<tr>
											<td height="30">
												<div class="header__title">Don’t Panic s.r.o.</div>
											</td>
										</tr>
									</table>
									<div class="header__subtitle tt-n">
										Riegrovy sady 28, 120 00 - Praha 2<br /><br />
										IČ: 275 72 099<br />DIČ: CZ275 72 099
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<div class="h-40">&nbsp;</div>
			<table>
				<tr>
					<td width="20">&nbsp;</td>
					<td width="350" class="text--top">
						<table>
							<tr>
								<td width="120" class="text--bottom">
									<div class="invoice--description--bigger">Faktura č.</div>
								</td>
								<td class="text--bottom" height="30">
									<div class="invoice--number"><strong>20160301</strong></div>
								</td>
							</tr>
							<tr>
								<td height="30" class="text--bottom">
									<div class="invoice--description">Datum vystavení</div>
								</td>
								<td class="text--bottom">
									<div class="invoice--date">23. 03. 2016</div>
								</td>
							</tr>
							<tr>
								<td height="24" class="text--bottom">
									<div class="invoice--description">Datum splatnosti</div>
								</td>
								<td class="text--bottom">
									<div class="invoice--date">02. 04. 2016</div>
								</td>
							</tr>
						</table>
					</td>
					<td class="total__box--blue">
						<table>
							<tr>
								<td width="10">&nbsp;</td>
								<td class="text--left">
									<div class="total--text">celkem</div>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="3" height="10">&nbsp;</td>
							</tr>
							<tr>
								<td width="10">&nbsp;</td>
								<td class="text--right">
									<div class="total--price">11 654 Kč</div>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td colspan="3" height="10">&nbsp;</td>
				</tr>
				<tr>
					<td width="20">&nbsp;</td>
					<td height="40" width="350" class="column--description">Popis</td>
					<td class="text--right column--description">Celkem za položku</td>
				</tr>
			</table>
		</div>
		<div class="items--wrap">
			<div class="item--line">
				<table>
					<tr>
						<td width="370" height="25">
							Programové práce na projektech Mixa a Whisky Expert
						</td>
						<td class="text--right">500 Kč</td>
					</tr>
					<tr>
						<td>
							<div class="item--description">It is a long established fact that a reader will be distracted by the readable content of</div>
						</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>
			<div class="item--line--last">
				<table>
					<tr>
						<td width="370" height="25">
							Programové práce na projektech Mixa a Whisky Expert
						</td>
						<td class="text--right">500 Kč</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="footer__main">
			<table>
				<tr>
					<td width="10" height="10" class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--blue text--right">&nbsp;</td>
					<td width="20" class="footer__main--blue">&nbsp;</td>
				</tr>
				<tr>
					<td width="10" height="10" class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray footer--description">Číslo účtu - Air Bank a.s.</td>
					<td class="footer__main--gray footer--description">Variabilní číslo</td>
					<td class="footer__main--blue text--right footer--description">Celkem</td>
					<td width="20" class="footer__main--blue">&nbsp;</td>
				</tr>
				<tr>
					<td width="10" class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray footer--text" height="20" width="180">
						1009567032/3030
					</td>
					<td class="footer__main--gray footer--text">
						20160301
					</td>
					<td class="footer__main--blue text--right text--bottom footer--text footer--text--price">
						11 654 Kč
					</td>
					<td width="20" class="footer__main--blue">&nbsp;</td>
				</tr>
				<tr>
					<td width="10" height="2" class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--blue text--right">&nbsp;</td>
					<td width="20" class="footer__main--blue">&nbsp;</td>
				</tr>
			</table>
			<table>
				<tr>
					<td colspan="5" height="30">&nbsp;</td>
				</tr>
				<tr>
					<td width="10">&nbsp;</td>
					<td class="text--top text--dark_gray" width="180">
						<strong>Zdeněk Vítek</strong><br />
						Kurzova 2221/18<br />
						Praha 5, 155 00
					</td>
					<td class="text--top text--dark_gray" width="170">
						IČ: 73817406<br />
						Nejsem plátce DPH
					</td>
					<td class="text--top text--dark_gray" width="170">
						zvitek@iwory.cz<br />
						+420 774 995 414
					</td>
					<td class="text--right text--top">
						<img src="/assets/images/pdf/logo_clear.png" width="70" />
					</td>
					<td width="10">&nbsp;</td>
				</tr>
			</table>
		</div>
	</body>
</html>