<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="header__main">
			<table>
				<tr>
					<td width="120">
						<img src="/assets/images/pdf/logo.png" width="100" />
					</td>
					<td width="250">
						{if !is_null($invoice['contractor'])}
							<h5 class="header__title">{$invoice['contractor']['name']}</h5>
						{/if}
						<span class="header__subtitle">web developer</span>
					</td>
					<td>
						<table>
							<tr>
								<td height="80"></td>
							</tr>
							<tr>
								<td width="90" class="text--top">
									<img src="/assets/images/pdf/arrow.png" width="70" />
								</td>
								<td>
									{if !is_null($invoice['client'])}
										<table>
											<tr>
												<td height="30">
													<div class="header__title">{$invoice['client']['name']}</div>
												</td>
											</tr>
										</table>
										<div class="header__subtitle tt-n">
											{$invoice['client']['address']['street']}, {$invoice['client']['address']['zip']} - {$invoice['client']['address']['city']}<br /><br />
											IČ: {$invoice['client']['company']['ic']}{if !is_null($invoice['client']['company']['dic'])}<br />DIČ: {$invoice['client']['company']['dic']}{/if}
										</div>
									{/if}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<div class="h-40">&nbsp;</div>
			<table>
				<tr>
					<td width="20">&nbsp;</td>
					<td width="350" class="text--top">
						<table>
							<tr>
								<td width="120" class="text--bottom">
									<div class="invoice--description--bigger">Faktura č.</div>
								</td>
								<td class="text--bottom" height="30">
									<div class="invoice--number"><strong>{$invoice['number']}</strong></div>
								</td>
							</tr>
							<tr>
								<td height="30" class="text--bottom">
									<div class="invoice--description">Datum vystavení</div>
								</td>
								<td class="text--bottom">
									<div class="invoice--date">{$invoice['date']['issue']|date:'d. m. Y'}</div>
								</td>
							</tr>
							<tr>
								<td height="24" class="text--bottom">
									<div class="invoice--description">Datum splatnosti</div>
								</td>
								<td class="text--bottom">
									<div class="invoice--date">{$invoice['date']['due']|date:'d. m. Y'}</div>
								</td>
							</tr>
						</table>
					</td>
					<td class="total__box--blue">
						<table>
							<tr>
								<td width="10">&nbsp;</td>
								<td class="text--left">
									<div class="total--text">celkem</div>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="3" height="10">&nbsp;</td>
							</tr>
							<tr>
								<td width="10">&nbsp;</td>
								<td class="text--right">
									<div class="total--price">{number_format($invoice['price']['without_vat'], 0, ',', ' ')} Kč</div>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td colspan="3" height="10">&nbsp;</td>
				</tr>
				<tr>
					<td width="20">&nbsp;</td>
					<td height="40" width="350" class="column--description">Popis</td>
					<td class="text--right column--description">Celkem za položku</td>
				</tr>
			</table>
		</div>
		<div class="items--wrap">
			{if count($invoice['items'])}
				{foreach $invoice['items'] as $item}
					<div class="item--line{if $iterator->isLast()}--last{/if}">
						<table>
							<tr>
								<td width="370" height="25">
									{$item['basic']['name']}
								</td>
								<td class="text--right">{number_format($item['price']['total'], 0, ',', ' ')} Kč</td>
							</tr>
							{if !is_null($item['basic']['description'])}
								<tr>
									<td>
										<div class="item--description">{$item['basic']['description']}</div>
									</td>
									<td>&nbsp;</td>
								</tr>
							{/if}
						</table>
					</div>
				{/foreach}
			{/if}
		</div>
		<div class="footer__main">
			<table>
				<tr>
					<td width="10" height="10" class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--blue text--right">&nbsp;</td>
					<td width="20" class="footer__main--blue">&nbsp;</td>
				</tr>
				{if !is_null($invoice['bank'])}
					<tr>
						<td width="10" height="10" class="footer__main--gray">&nbsp;</td>
						<td class="footer__main--gray footer--description">Číslo účtu - {$invoice['bank']['name']}</td>
						<td class="footer__main--gray footer--description">Variabilní číslo</td>
						<td class="footer__main--blue text--right footer--description">Celkem</td>
						<td width="20" class="footer__main--blue">&nbsp;</td>
					</tr>
					<tr>
						<td width="10" class="footer__main--gray">&nbsp;</td>
						<td class="footer__main--gray footer--text" height="20" width="180">
							{$invoice['bank']['account']['number']}/{$invoice['bank']['account']['code']}
						</td>
						<td class="footer__main--gray footer--text">
							{$invoice['number']}
						</td>
						<td class="footer__main--blue text--right text--bottom footer--text footer--text--price">
							{number_format($invoice['price']['without_vat'], 0, ',', ' ')} Kč
						</td>
						<td width="20" class="footer__main--blue">&nbsp;</td>
					</tr>
				{/if}
				<tr>
					<td width="10" height="2" class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--gray">&nbsp;</td>
					<td class="footer__main--blue text--right">&nbsp;</td>
					<td width="20" class="footer__main--blue">&nbsp;</td>
				</tr>
			</table>
			{if !is_null($invoice['contractor'])}
				<table>
					<tr>
						<td colspan="5" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="10">&nbsp;</td>
						<td class="text--top text--dark_gray" width="180">
							<strong>{$invoice['contractor']['name']}</strong><br />
							{$invoice['contractor']['address']['street']}<br />
							{$invoice['contractor']['address']['city']}, {$invoice['contractor']['address']['zip']}
						</td>
						<td class="text--top text--dark_gray" width="170">
							IČ: {$invoice['contractor']['company']['ic']}<br />
							{if !$invoice['contractor']['info']['payer_vat']}
								Nejsem plátce DPH
							{/if}
						</td>
						<td class="text--top text--dark_gray" width="170">
							{$invoice['contractor']['contact']['email']}<br />
							{$invoice['contractor']['contact']['phone']}
						</td>
						<td class="text--right text--top">
							<img src="/assets/images/pdf/logo_clear.png" width="70" />
						</td>
						<td width="10">&nbsp;</td>
					</tr>
				</table>
			{/if}
		</div>
	</body>
</html>