{if count($invoices)}
	<ul>
		{foreach $invoices as $invoice}
			<li><a href="{plink :Web:Invoice:Page:edit invoice_Token=>$invoice['token']}"> {$invoice['number']}</a></li>
		{/foreach}
	</ul>
{else}
	Žádné faktury
{/if}